<ng-container>
    <mat-card class="card" style="margin-top: 8%;padding-right: 10px;">
        <mat-card-title>Mobile Application Design and Developement - Lambton College, Canada</mat-card-title>
        <mat-card-content [innerHTML]="school1Description"></mat-card-content>
    </mat-card>
    </ng-container>
    
    
    <mat-card class="card" style="margin-top: 5%;">
        <mat-card-title>Bachelors in Computer Science and Engineering - Chandigarh University, India</mat-card-title>
        <mat-card-content [innerHTML]="school2Description"></mat-card-content>
    </mat-card>
    