<div class="row">
    <div class="col-md-12 col-sm-12">
    <mat-card class="card" style="margin-top: 6%;width:90%;">
        <mat-card-title class="title">Sustainable Risk Strategies.Inc, Toronto - August 2020 - Present</mat-card-title>
        <mat-card-content class="subTitle" [innerHtml]="company1Description"></mat-card-content>
    </mat-card>
</div>
<div class="col-md-12 col-sm-12">
    <mat-card class="card" style="margin-top: 5%;width:90%;">
        <mat-card-title class="title">DistApps.Inc, Toronto - October 2019 - July 2020</mat-card-title>
        <mat-card-content class="subTitle" [innerHtml]="company2Description"></mat-card-content>
    </mat-card>
</div>
</div>