
<div class="row" style="height: 90%;">
<div class="skillSelection col-md-4" style="margin-top:6%">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. Swift..."/>
          </mat-form-field>
        <mat-chip-list aria-label="skillSelection">
            <mat-chip style="cursor: pointer;" *ngFor="let skill of skillsArray" (click)="setSkill(skill)">{{skill}}</mat-chip>
          </mat-chip-list>
        </div>   
 <div class="skillDetails col-md-8" style="margin-top:6%">
    <mat-card>
        <mat-card-title>{{selectedSkill}}</mat-card-title>
        <mat-card-content [innerHTML]="selectedSkillDescription"></mat-card-content>
</mat-card>
 </div>
</div>