
<div class="row" style="height: 90%;">
<div class="skillSelection col-md-4" style="margin-top:6%">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. Swift..."/>
          </mat-form-field>
        <mat-chip-list aria-label="skillSelection">
            <mat-chip>Angular</mat-chip>
            <mat-chip>Swift</mat-chip>
            <mat-chip>SwiftUi</mat-chip>
            <mat-chip>JavaScript</mat-chip>
          </mat-chip-list>
        </div>   
 <div class="skillDetails col-md-8" style="margin-top:6%">
    <mat-card>
        <mat-card-title>Skills</mat-card-title>
        <mat-card-content>HI this is my skill</mat-card-content>
</mat-card>
 </div>
</div>