<div class="row">
  <div class="upperBox" style="height: 15vh;width:100%;background-color:#030327;
    ;">
    <h1 id="welcomeText"
      style="color: white;text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
    </h1>
  </div>
  <div class="col-md-12" style="text-align: center;">
    <img src="assets/profile_guneet.png" class="profileImage" />
    <span></span>
  </div>
</div>
<!-- belowDetails -->
<div class="row">
  <div class="belowBox col-md-12" style="text-align: center;background-color: #030327;">
    <h4
      style="text-align:center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;">
      Guneet Singh Lamba<br />
      Web and Mobile Application Developer<br />
      <i class="fab fa-linkedin icon"
        (click)="openLink('https://www.linkedin.com/in/guneet-singh-lamba-6b5221156/')"></i> <i
        class="fas fa-envelope icon" (click)="openSnackBar('416-949-2955', 'Message')"></i> <i
        class="fas fa-mobile icon" (click)="openSnackBar('416-949-2955', 'Call')"></i> <i
        class="fab fa-app-store-ios icon" (click)="openLink('https://apps.apple.com/ca/app/chakra/id1509880276')"></i>
    </h4>
  </div>
</div>
<div class="row">
  <!-- <div class="col-md-4 d-none d-md-block"> 
      </div> -->
  <!-- <div class="col-md-4"> -->
  <div class="projectHeader">
    <h2 style="color:white;text-align: center;"><b>About Me</b></h2>
    <div class="row">
      <div class="col-md-8">
        <h3 style="color: white; text-align: left;margin-left: 8%;">Web and Mobile Application Developer, who loves to
          make interactive applications which can solve problems. I am experienced in <span style="color: yellowgreen;">Angular,
          Swift, React, Ionic, HTML, CSS, JavaScript, Bootstrap, Node.js, Express, MongoDB, MySQL, REST APIs,
          Blockchain</span>. I am a self-motivated person who is always willing to learn new technologies and work on new
          projects.
        </h3>

        <div class="quote">
          <h4 style="color: white;"><I>“To know how much there is to know is the beginning of learning to live.”
              —Dorothy West</I></h4>
        </div>
      </div>
      <div class="col-md-4">
        <img src="assets/onSystem.png" class="image" />
      </div>
      <!-- <h2 style="color:white;text-align: center;margin-left: 45%;margin-top:2%;color: yellowgreen;"><b>My
        Skills</b></h2><br/> -->
    </div>
        <!-- skills section -->
        <div class="row">
          <!-- <app-skills></app-skills>  -->
          <h2 style="color:white;text-align: center;margin-left: 40%;"><b>Take A Look At Some Of My
            Projects</b></h2><br/>
        </div>
        <!-- apps section -->
    <div class="row" style="margin-top:2%">
      <div class="col-md-2" style="margin-left: 4%;">
        <img src="assets/coding.png" class="imageCoding"/>
        </div>
        <div class="col-md-2" style="margin-left: 8%;text-align: start;">
          <h2 style="color:white;margin-left: 2%;">Web Applications</h2>
          <app-projects></app-projects>
        </div>
        <div class="col-md-6">
          <h2 style="color:white;">iOS Applications/Games</h2>
          <img *ngFor="let projects of iosApplicationArray"   [src]="projects.img" style="height: 100px;width: 100px;margin:1%; cursor: pointer;border-radius: 20px;box-shadow: 10px 10px 5px rgba(212, 210, 210, 0.226)" (click)="onAppClick(projects.name)"/>
        </div>
        <!-- <h2 style="color:white;text-align: center;margin-left: 40%;margin-top:2%;color: yellowgreen;">
          <b>Currently In Progress</b></h2><br/> -->
    </div>
 <!-- Work on this -->
    <!-- Work on this -->
    <!-- <div class="row">
      <div class="col-md-6">
        <h3 style="color: white; text-align: left;margin-left: 8%;">
         Application will be used to mint 3D or metahuman avatars as NFT's to use on websites, social platforms or as gated tokens for authorization.
         Project is under development, for more click on this <a href="https://github.com/Guneet31/vmthub-frontend" target="_blank">link</a>
        </h3>
      </div>
       
<div class="col-md-6">
  <video autoplay loop muted playsinline="true" 
  style="width: 80%;height:80%;border-radius:10px 20px 10px 20px;"
  webkit-playsinline="true" src="https://gateway.pinata.cloud/ipfs/QmQKw2kJJTGqGHyXhXTz35x9Bogzr44a7vENqfyYQaLdBB" type="video/mp4">
  </video>
</div>
        
    </div> -->





    <!-- <div class="row">
      <div class="col-md-2" style="margin-left: 2%;"></div>
      <div class="col-md-8" style="margin-left: 8%;">
        <h2 style="color:white;">iOS Applications/Games</h2>
        <img *ngFor="let projects of iosApplicationArray"  class="" [src]="projects.img" style="height: 100px;width: 100px;margin:2%; cursor: pointer;border-radius: 20px;box-shadow: 10px 10px 5px rgba(212, 210, 210, 0.226)" (click)="onAppClick(projects.name)"/>
      </div>
    </div> -->
   
  </div>




  <!-- <div class="projectHeader">
            <h2 style="color:white;text-align: center;"><b>My Applications</b></h2>
            <app-projects></app-projects>
          </div> -->
  <!-- <mat-tab-group class="tabBars">
            <mat-tab label="Projects 🗂"><app-projects></app-projects></mat-tab>
            <mat-tab label="Skills ⚒️"><app-skills></app-skills> </mat-tab>
            <mat-tab label="Experience 💼"><app-experience></app-experience></mat-tab>
            <mat-tab label="Education 📚"><app-education></app-education></mat-tab> -->
  <!-- <mat-tab label="Projects"> V5 </mat-tab> -->
  <!-- </mat-tab-group> -->
  <!-- <ul class="nav nav-tabs" style="width: 100%; justify-content: center;">
            <li class="nav-item">
              <a class="nav-link active" href="../../experience.html" role="tab">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="skills.html" role="tab" >Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="education.html" role="tab" >Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html" role="tab" >Projects</a>
            </li>
          </ul> -->
  <!-- </div> -->
</div>