
    <div class="row">
    <div class="upperBox" style="height: 25vh;width:100%;background-color: cornflowerblue;">
    <h1 id="welcomeText" style="color: black;text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
  <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
    </h1>
    </div>
    <div class="col-md-12" style="text-align: center;">
    <img src="assets/profile_guneet.png" class="profileImage"/>
    <span></span>
    </div>
    </div>
    <!-- belowDetails -->
    <div class="row">
    <div class="belowBox col-md-12" style="height: 10%;width: 100%;margin-top: -5px;text-align: center;">
    <h4 style="text-align:center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    Guneet Singh Lamba<br/> 
    Web and Mobile Application Developer<br/>
    <i class="fab fa-linkedin icon"></i> <i class="fas fa-envelope icon"></i> <i class="fas fa-mobile icon"  (click)="openSnackBar('XXX-xxx-XXXX', 'Call')"></i> <i class="fab fa-app-store-ios icon"></i>
    </h4>
    </div>
    </div>
    <div class="row" style="height: 100%;" >
      <div class="col-md-3 d-none d-md-block"></div>
        <div class="col-md-8">
          <mat-tab-group class="tabBars">
            <mat-tab label="Experience"><app-experience></app-experience></mat-tab>
            <mat-tab label="Skills"><app-skills></app-skills></mat-tab>
            <mat-tab label="Education"><app-education></app-education></mat-tab>
            <mat-tab label="Projects"><app-projects></app-projects></mat-tab>
            <!-- <mat-tab label="Projects"> V3 </mat-tab> -->
          </mat-tab-group>
        <!-- <ul class="nav nav-tabs" style="width: 100%; justify-content: center;">
            <li class="nav-item">
              <a class="nav-link active" href="../../experience.html" role="tab">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="skills.html" role="tab" >Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="education.html" role="tab" >Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html" role="tab" >Projects</a>
            </li>
          </ul> -->
        </div>
    </div>